.bg-pink {
  background-color: #ec407a;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
  background-color: #27292e;
}

.fa-bars {
  color: #9a9da2;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: #ec407a;
}

.navbar {
  padding: 0.5rem 4rem !important;
}

.navbar-nav li a {
  color: #9a9da2 !important;
  font-weight: 900;
  font-size: 14px;
}

.navbar-brand {
  color: #9a9da2 !important;
  font-size: 16px;
  font-weight: 900;
}

.head-sticky {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 65px;
  line-height: 1;
  z-index: 1;
  position: fixed;
  background-color: #27292e !important;
  color: #27292e !important;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
}

.head-sticky a {
  color: #9a9da2 !important;
}

.head-sticky button .navbar-toggler-icon {
  background-image: url("../../images/menu.png") !important;
  border-color: #9a9da2 !important;
}

.content__section-bg {
  background-size: 100% 40% !important;
}

.content__section {
  background-image: url("https://rscard.px-lab.com/html/img/uploads/rs-cover.jpg");
  background-repeat: no-repeat;
  background-size: 100% 75vh;
  height: 800px;
}

.content__section:before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 75vh;
  position: absolute;
  background-color: rgba(44, 51, 64, 0.8);
}

.content__section nav {
  color: #3c4451;
  font-size: 13px;
  font-weight: 700;
  line-height: 2;
  text-transform: uppercase;
}

#header {
  background-color: transparent;
}

.intro__container {
  padding-top: 17vh;
}

.nav__active {
  border-bottom: 4px solid #ec407a;
}

.header__link:hover {
  border-bottom: 4px solid #ec407a;
}

.intro__card {
  width: 85%;
  color: #d4d4d5;
  background-color: #35363b;
  height: auto;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
}

.intro__card .card-body {
  padding: 7vh 7vh 3vh 7vh;
}

.intro__card .card-body .card-title {
  font-weight: 700;
}

.profile__img {
  width: auto;
  height: 25em;
}

.profile__info {
  color: #d4d4d5;
  font-size: 14px;
}

.profile__info thead th {
  border-bottom: none;
}

.profile__info th {
  border-top: none;
}

.profile__info td {
  border-top: none;
}

.social__network {
  padding: 3vh;
}

.social__network li a {
  color: white;
}

hr {
  background-color: #d4d4d561;
}

.download__resume {
  background-color: #ec407a;
  color: #d4d4d5;
}

.download__resume:hover {
  border: 1px solid #ec407a;
  background-color: #27292e;
  color: #d4d4d5;
}

.section__title {
  font-size: 30px;
  margin-bottom: 7vh;
  font-weight: bold;
  color: #75767C;
  text-align: center;
}

.footer {
  height: 65px;
  background-color: #35363b;
  color: #d4d4d5;
  font-size: 13px;
  font-weight: 700;
  line-height: 2;
  text-transform: uppercase;
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer h6 {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.btn.focus,
.btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(236, 64, 122, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(236, 64, 122, 0.25);
}

@media (max-width: 1500px) and (min-width: 767px) {
  body h5,
  body h6,
  body h4,
  body p {
    font-size: 87%;
  }
  body .other__skills__section__title,
  body .section__title {
    font-size: 22px;
  }
  body .nav-pills .nav-link {
    display: block;
    padding: 0.2rem 0.8rem;
    font-size: 17px;
  }
  body .footer {
    height: 43px;
  }
  body .download__resume {
    background-color: #ec407a;
    color: #d4d4d5;
    padding: .3rem .5rem;
    font-size: 15px;
  }
  body .social__network {
    padding: 2vh;
  }
  body .social__network .nav-link {
    display: block;
    padding: .2rem 1rem;
  }
  body .social__network .nav-link .fa-lg {
    font-size: 1em;
    line-height: .75em;
    vertical-align: -15%;
  }
  body .contact__details div {
    font-size: 14px;
  }
  body .profile__img {
    width: auto;
    height: 20em;
  }
}

@media (max-width: 1500px) and (min-width: 996px) {
  .intro__card {
    width: 70%;
  }
}

@media (max-width: 995px) {
  .intro__card {
    width: 100%;
  }
}

@media (max-width: 720px) and (min-width: 420px) {
  .navbar {
    padding: 0.5rem 3rem !important;
  }
  .profile__img {
    width: auto;
    height: auto;
    padding-bottom: 2rem;
  }
  .intro__card {
    width: 84%;
  }
  .intro__card .card-body {
    padding: 3rem 3rem 3rem 3rem;
  }
}

@media (max-width: 421px) {
  .navbar {
    padding: 0.5rem 1.5rem !important;
  }
  .profile__img {
    width: auto;
    height: auto;
    padding-bottom: 2rem;
  }
  .intro__card {
    width: 90%;
  }
  .intro__card .card-body {
    padding: 2rem 2rem 2rem 2rem;
  }
}
